@model ADASO_AgreementApp.Models.Entity.Adminn
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
</div>

<body class="bg-gradient-primary">

    <div class="container">
        <div class="row justify-content-center h-100">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image d-flex justify-content-center align-items-center">
                                <img src="~/startbootstrap-sb-admin-2-gh-pages/img/ADASO_Logo_Alternatif_1.png " class="img-fluid" style="margin-top: 20px; margin-left:15px;" />
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Şifreni mi Unuttun?</h1>
                                        <p class="mb-4">
                                            E-postanızı girerek şifrenizi sıfırlayabilirsiniz
                                        </p>
                                    </div>
                                    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   name="Mail" aria-describedby="emailHelp"
                                                   placeholder="E-posta adresinizi girin..." required />
                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                                            Şifreyi Sıfırla
                                                        </button>
                                                    }

                                    @*<div class="btn btn-primary btn-user btn-block" style="display:flex; align-items:center; justify-content:center; margin-top:5px">
            <a href="@Url.Action("Login", "Login")" class="btn btn-primary btn-user btn-block">
                Giriş Sayfasına Dön
            </a>
        </div>*@
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    

    <!-- JavaScript Files -->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

</body>
